html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
span {
	max-height: 5000em;
}

html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

a {
	text-decoration: none;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-wrap:hover .fancybox-nav {
	opacity: 1;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 3px solid #666;
	-webkit-animation: fanload 2s infinite linear;
	animation: fanload 2s infinite linear;
}

@-webkit-keyframes fanload {
	0% {
		border-color: #666;
	}
	50% {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		border-color: white;
	}
	100% {
		border-color: #666;
	}
}

@keyframes fanload {
	0% {
		border-color: #666;
	}
	50% {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		border-color: white;
	}
	100% {
		border-color: #666;
	}
}

.fancybox-close {
	z-index: 30;
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
	box-sizing: border-box;
	top: -35px;
	right: -35px;
	transition: all 0.3s ease;
}

.fancybox-close:before, .fancybox-close:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 3px;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	background-color: #FFF;
	transition: all 0.3s ease;
}

.fancybox-close:hover:before, .fancybox-close:hover:after {
	background-color: #65ffc9;
}

.fancybox-close:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.fancybox-close:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


.fancybox-nav {
	position: absolute;
	top: 0;
	width: 15%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background-color: rgba(14, 23, 42, 0);
	-webkit-tap-highlight-color: transparent;
	z-index: 20;
	transition: all 0.3s ease;
}

.fancybox-nav:hover {
	background-color: rgba(14, 23, 42, 0.8);
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 20px;
	margin-top: -10px;
	cursor: pointer;
	z-index: 50;
	opacity: 1;
	transition: all 0.3s ease;
}

.fancybox-prev span {
	cursor: pointer;
	box-sizing: border-box;
	left: 50%;
	margin-left: -20px;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.fancybox-prev span:before, .fancybox-prev span:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #FFF;
	transition: all 0.3s ease;
}

.fancybox-prev span:before {
	top: 0%;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.fancybox-prev span:after {
	top: 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.fancybox-next span {
	cursor: pointer;
	box-sizing: border-box;
	right: 50%;
	margin-right: -20px;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.fancybox-next span:before, .fancybox-next span:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #FFF;
	transition: all 0.3s ease;
}

.fancybox-next span:before {
	top: 0%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.fancybox-next span:after {
	top: 100%;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.fancybox-nav:hover span {
	opacity: 1;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: #2c3749;
	background: rgba(4, 0, 21, 0.8);
	cursor: pointer;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
	visibility: hidden;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
}

#fancybox-thumbs {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
}

#fancybox-thumbs.bottom {
	bottom: 2px;
}

#fancybox-thumbs.top {
	top: 2px;
}

#fancybox-thumbs ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#fancybox-thumbs ul li {
	float: left;
	opacity: 0.5;
	border: 2px solid transparent;
	transition: all 0.3s ease;
	margin: 0 5px;
}

#fancybox-thumbs ul li.active {
	opacity: 1;
	padding: 0;
	border: 2px solid #e7e7e7;
}

#fancybox-thumbs ul li:hover {
	opacity: 1;
}

#fancybox-thumbs ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	outline: none;
}

#fancybox-thumbs ul li img {
	display: block;
	position: relative;
	border: 0;
	padding: 0;
	max-width: none;
}

/*! Flickity v2.0.2
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus {
	outline: none;
}

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: pointer;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: grabbing;
}

.flickity-prev-next-button {
	position: absolute;
	top: 50%;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: white;
	background: rgba(255,255,255,0.75);
	cursor: pointer;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
	background: white;
}

.flickity-prev-next-button:focus {
	outline: none;
	box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
	opacity: .6;
}

.flickity-prev-next-button.previous {
	left: 10px;
}

.flickity-prev-next-button.next {
	right: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 10px;
}

.flickity-prev-next-button:disabled {
	opacity: .3;
	cursor: auto;
}

.flickity-prev-next-button svg {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.flickity-prev-next-button .arrow {
	fill: #333;
}

.flickity-page-dots {
	position: absolute;
	width: 100%;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
}


.flickity-rtl .flickity-page-dots {
	direction: rtl;
}

.flickity-page-dots .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px;
	background: #333;
	border-radius: 50%;
	opacity: .25;
	cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
	opacity: 1;
}

.agmodal {
	position: relative;
	width: 450px;
	margin: 50px auto;
	padding: 30px 35px 30px 35px;
	transition: all .4s ease;
	-ms-transform-origin: center top;
	transform-origin: center top;
	cursor: auto;
	display: none;
	background: transparent;
}

.agmodal--fade {
	opacity: 0;
}

.agmodal--slide {
	transform: translate3d(0, -500px, 0);
}

.agmodal--scale {
	transform: scale3d(.9, .9, 1);
}

.agmodal--3d {
	transform: perspective(1000px) rotateX(45deg);
}

.agmodal--morph {
	transition: transform .4s cubic-bezier(.7, 0, .3, 1),opacity .4s ease,width .4s ease;
	transition: transform .4s cubic-bezier(.7, 0, .3, 1),opacity .4s ease,width .4s ease,-webkit-transform .4s cubic-bezier(.7, 0, .3, 1);
	transform: translate3d(-400px, 0, 0) scale3d(1.4, .5, 1);
}

.agmodal--visible {
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	opacity: 1;
}

.agmodal--video {
	padding: 0;
	width: 1920px;
	max-width: 75%;
	max-height: 100%;
	height: auto;
}

.agmodal--video video {
	width: 100%;
	display: block;
}

.agmodal--text {
	width: 900px;
}

html.agmodal--lock-test {
	overflow-y: hidden !important;
}

html.agmodal--lock body {
	overflow: hidden !important;
}

.agmodal__wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: all .4s ease;
	cursor: pointer;
	overflow: auto;
	overflow-y: scroll;
	box-sizing: border-box;
	pointer-events: none;
	opacity: 0;
}

.agmodal__wrapper .agmodal {
	display: block;
}

.agmodal__wrapper:focus {
	outline-width: 0;
}

.agmodal__wrapper--visible {
	pointer-events: auto;
	opacity: 1;
}

.agmodal__wrapper * {
	box-sizing: border-box;
}

.agmodal__close {
	position: absolute;
	width: 30px;
	height: 30px;
	cursor: pointer;
	box-sizing: border-box;
	top: 0;
	right: 7px;
}

.agmodal__close:before,
.agmodal__close:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #eee;
	transition: all .3s ease;
}

.agmodal__close:hover:before,
.agmodal__close:hover:after {
	background-color: #65ffc9;
}

.agmodal__close:before {
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.agmodal__close:after {
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.agmodal__video-preloader {
	position: absolute;
	width: 100%;
	top: 50%;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	z-index: 10;
	font-size: 64px;
}

@font-face {
	font-family: 'icomoon';
	src: url("icomoon.eot");
	src: url("icomoon.eot") format('embedded-opentype'),url("icomoon.ttf") format('truetype'),url("icomoon.woff") format('woff'),url("icomoon.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mask-2:before {
	content: "\e900";
}

.icon-photocamera:before {
	content: "\e901";
}

.icon-swimm-2:before {
	content: "\e902";
}

.icon-swimm-people:before {
	content: "\e903";
}

.icon-yahta:before {
	content: "\e904";
}

.icon-double-arrow-right:before {
	content: "\e905";
}

.icon-double-arrow-down:before {
	content: "\e906";
}

.icon-done-gray:before {
	content: "\e907";
}

.icon-heart:before {
	content: "\e908";
}

.icon-help-circle:before {
	content: "\e909";
}

.icon-mask:before {
	content: "\e90a";
}

.icon-swimm:before {
	content: "\e90b";
}

.icon-turtle:before {
	content: "\e90c";
}

.icon-earth-globe:before {
	content: "\e90d";
}

.icon-tree:before {
	content: "\e90e";
}

.icon-three-man:before {
	content: "\e90f";
}

.icon-yacor:before {
	content: "\e910";
}

.icon-ballons:before {
	content: "\e911";
}

.icon-done-white:before {
	content: "\e912";
}

.icon-done:before {
	content: "\e913";
}

.icon-form-comment:before {
	content: "\e914";
}

.icon-form-submarine:before {
	content: "\e915";
}

.icon-form-shield:before {
	content: "\e916";
}

.icon-form-mail:before {
	content: "\e917";
}

.icon-form-name:before {
	content: "\e918";
}

.icon-close:before {
	content: "\e919";
}

.icon-prev:before {
	content: "\e91a";
}

.icon-next:before {
	content: "\e91b";
}

.icon-arrow-down:before {
	content: "\e91c";
}

.icon-geo:before {
	content: "\e91d";
}

.icon-insta:before {
	content: "\e91e";
}

.icon-fb:before {
	content: "\e91f";
}

.icon-twitter:before {
	content: "\e920";
}

.icon-vk:before {
	content: "\e921";
}

.icon-ok:before {
	content: "\e922";
}

.icon-play:before {
	content: "\e923";
}

.icon-burger:before {
	content: "\e924";
}

.icon-phone:before {
	content: "\e925";
}

@font-face {
	font-family: 'Dinpro';
	src: url("75b193164a1ecb7f6054c5e6753fecf6b8022f0c") format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Dinpro';
	src: url("ab4b36a8197b90f591b8fe10f3c12a9be7c7910d") format('woff');
	font-weight: 300;
	font-style: normal;
}

.clear {
	clear: both;
}

.clearafter:after {
	content: '';
	display: table;
	clear: both;
}

.anim-top-down {
	animation: anim-top-down 2s infinite;
}

body {
	background: #011019;
}

img {
	max-width: 100%;
}

section,
header,
footer {
	position: relative;
	max-width: 1920px;
	min-width: 1150px;
	margin: 0 auto;
	z-index: 1;
}

.wrapper {
	position: relative;
	max-width: 910px;
	margin: 0 auto;
}

.big-wrapper {
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
}

.rouble {
	position: relative;
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	font-size: 18px;
	line-height: 18px;
	font-family: "Dinpro",sans-serif;
	text-transform: uppercase;
}

.rouble:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 80%;
	height: 2px;
	background: #fff;
}

.rouble--black {
	color: #000;
}

.rouble--black:after {
	background: #000;
}

.grid-text {
	width: 920px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: start;
	align-self: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
}

.grid-text--in-loop {
	margin-bottom: 80px;
}

.grid-text--in-loop:last-child {
	margin-bottom: 0;
}

.grid-text--learn-info {
	padding-top: 35px;
	padding-bottom: 35px;
}

.grid-learn-info-wrap {
	padding-top: 40px;
	padding-bottom: 40px;
}

.left-sidebar {
	width: 300px;
}

.left-sidebar h2 a {
	color: #FFF;
}

.left-sidebar h2 a:hover {
	color: #65ffc9;
}

.left-sidebar p {
	padding-right: 20px;
}

.left-sidebar--black h2,
.left-sidebar--black h3,
.left-sidebar--black h4,
.left-sidebar--black p {
	color: #000;
}

.right-textbar {
	width: 595px;
}

.right-textbar--black h2,
.right-textbar--black h3,
.right-textbar--black h4,
.right-textbar--black p {
	color: #000;
}

.circle-wave {
	position: relative;
	width: 188px;
	height: 188px;
	padding-top: 35px;
	color: #FFF;
	text-align: center;
}

.circle-wave:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 188px;
	height: 188px;
	background: url("circle-wave.png") bottom center no-repeat;
	z-index: 1;
}

.circle-wave header {
	position: relative;
	display: block;
	min-width: 0;
	margin-bottom: 0;
	font-family: "Dinpro",sans-serif;
	font-weight: 300;
	font-size: 84px;
	line-height: 1.1;
	z-index: 0;
}

.circle-wave footer {
	position: relative;
	display: inline;
	min-width: 0;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 400;
	z-index: 2;
}

.circle-wave footer strong {
	font-size: 18px;
}

.circle-wave--mini {
	padding-top: 20px;
	height: 173px;
}

.circle-wave-middle {
	position: relative;
	width: 146px;
	height: 146px;
	padding-top: 22px;
	color: #FFF;
	text-align: center;
}

.circle-wave-middle:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 146px;
	height: 146px;
	background: url("circle-wave.png") bottom center no-repeat;
	background-size: 146px;
	z-index: 1;
}

.circle-wave-middle header {
	position: relative;
	display: block;
	min-width: 0;
	margin-bottom: 0;
	font-family: "Dinpro",sans-serif;
	font-weight: 300;
	font-size: 72px;
	line-height: 1.1;
	z-index: 0;
}

.circle-wave-middle header small {
	font-size: 26px;
}

.circle-wave-middle footer {
	position: relative;
	display: inline;
	min-width: 0;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 400;
	z-index: 2;
}

.circle-wave-middle footer strong {
	font-size: 18px;
}

.circle-wave-mini {
	position: relative;
	width: 76px;
	height: 76px;
	padding-top: 20px;
	color: #FFF;
	text-align: center;
}

.circle-wave-mini:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 76px;
	height: 76px;
	background: url("circle-wave.png") bottom center no-repeat;
	background-size: 76px;
	z-index: 1;
}

.circle-wave-mini header {
	position: relative;
	display: inline;
	min-width: 0;
	margin-bottom: 0;
	font-family: "Dinpro",sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 1.1;
	z-index: 0;
}

.circle-wave-mini footer {
	position: relative;
	display: inline;
	min-width: 0;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 400;
	z-index: 2;
}

.circle-wave-mini footer strong {
	font-size: 18px;
}

.sec-title-btn {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.sec-title-btn__text {
	max-width: 590px;
}

.sec-title-btn--bottom {
	-ms-flex-align: end;
	align-items: flex-end;
}

.sec-title-btn--bottom .sec-title-btn__link {
	margin-bottom: 5px;
}

.sec-title-btn--top {
	-ms-flex-align: start;
	align-items: flex-start;
}

.sec-title-btn--black h2 {
	color: #000;
}

.sec-title-btn--training {
	margin-bottom: 50px;
}

.soc-icons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.soc-icons__heading {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.soc-icons__link {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	color: #FFF;
	border: 2px solid #fff;
	border-radius: 50%;
}

.soc-icons__link:hover {
	color: #65ffc9;
	border-color: #65ffc9;
}

.soc-icons__link-wrap {
	margin-left: 3px;
	margin-right: 4px;
}

.soc-icons__link-wrap:first-child {
	margin-left: 0;
}

.soc-icons__link-wrap:last-child {
	margin-right: 0;
}

.soc-icons__link--gray {
	color: #808E99;
	border-color: #808E99;
}

.soc-icons .icon-ok {
	font-size: 18px;
}

.soc-icons .icon-vk {
	padding-left: 2px;
	font-size: 14px;
}

.soc-icons .icon-twitter {
	font-size: 18px;
}

.soc-icons .icon-fb {
	font-size: 16px;
}

.soc-icons .icon-insta {
	padding-left: 1px;
	font-size: 16px;
}

.pt15 {
	padding-top: 15px;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.agmodal .form__descr {
	margin-bottom: 15px;
}

.modal-text {
	padding: 15px 25px;
	border-radius: 5px;
	background: #fff;
}

#modal-spasibo {
	box-shadow: none;
}

.flickity-prev-next-button {
	background: transparent;
}

.flickity-prev-next-button:hover {
	background: transparent;
}

.flickity-prev-next-button.previous {
	left: -40px;
}

.flickity-prev-next-button.next {
	right: -40px;
}

.flickity-prev-next-button .arrow {
	fill: #66ffcc;
}

.flickity-page-dots .dot {
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
	background: transparent;
	opacity: 1;
	transition: all .3s ease;
}

.flickity-page-dots .dot:hover {
	border-color: #65ffc9;
}

.flickity-page-dots .dot.is-selected {
	background: #65ffc9;
	border: 2px solid #65ffc9;
}

.fancybox-iframe {
	width: 800px;
	height: 600px;
}

.btn {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 18px;
	padding-left: 20px;
	font-weight: bold;
	font-size: 12px;
	font-family: "Roboto",sans-serif;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #FFF;
	line-height: 1;
	border: 2px solid #fff;
	border-radius: 20px;
	cursor: pointer;
	background-color: transparent;
	transition: all .3s ease;
	outline: none;
}

.btn:hover,
.btn:focus {
	color: #65ffc9;
	border-color: #65ffc9;
}

.btn.btn--disabled{
	pointer-events: none;
	opacity: 0.2;
}

.btn i,
.btn span {
	vertical-align: middle;
}

.btn .icon-next {
	padding-left: 5px;
	color: #65ffc9;
	transition: all .3s ease;
}

.btn--icon-plus {
	padding-left: 30px;
}

.btn--icon-plus:before {
	content: "+";
	position: absolute;
	top: 4px;
	left: 12px;
	font-weight: 300;
	font-size: 20px;
	color: #65ffc9;
}

.btn--icon-plus-black {
	padding-left: 30px;
}

.btn--icon-plus-black:before {
	content: "+";
	position: absolute;
	top: 4px;
	left: 12px;
	font-weight: 400;
	font-size: 22px;
	color: #000;
}

.btn--icon-next {
	padding-right: 30px;
}

.btn--icon-next:before {
	content: ">";
	position: absolute;
	top: 3px;
	right: 12px;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	font-family: "Roboto",sans-serif;
	transition: all .3s ease;
}

.btn--icon-next:hover:before {
	color: #65ffc9;
}

.btn--big {
	font-size: 14px;
}

.btn--white {
	color: #000;
	border-color: #fff;
	background: #FFF;
}


.btn--white:hover,
.btn--white:focus {
	color: #65ffc9;
	border-color: #65ffc9;
	background: transparent;
}

.btn--white:hover .icon-next,
.btn--white:focus .icon-next {
	color: #65ffc9;
}

.btn--white .icon-next {
	padding-left: 5px;
	color: #000;
}

.btn--white-trans {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn--white-bordered-black {
	border-color: #fff;
}

.btn--white-bordered-black:hover,
.btn--white-bordered-black:focus {
	color: #000;
}

.btn--white-bordered-black.active {
	border-color: #000;
}

.btn--green {
	color: #000;
	border-color: #65ffc9;
	background: #65ffc9;
}

.btn--green:hover,
.btn--green:focus {
	color: #65ffc9;
	border-color: #65ffc9;
	background: transparent;
}

.btn--green:hover .icon-next,
.btn--green:focus .icon-next {
	color: #65ffc9;
}

.btn--green-white {
	color: #000;
	border-color: #65ffc9;
	background: #65ffc9;
}

.btn--green-white.active,
.btn--green-white:hover,
.btn--green-white:focus {
	color: #000;
	border-color: #65ffc9;
	background: #fff;
}

.btn--green-white:hover .icon-next,
.btn--green-white:focus .icon-next {
	color: #65ffc9;
}

.btn--green-transparent {
	color: #65ffc9;
	border-color: #65ffc9;
}

.btn--clear {
	border: 2px solid transparent;
}

.btn--clear.active {
	color: #65ffc9;
	pointer-events: none;
	cursor: default;
}

.btn--black-transparent {
	color: #000;
	border-color: #000;
}

.btn--black-transparent:hover,
.btn--black-transparent:focus {
	color: #000;
	border-color: #65ffc9;
	background: #65ffc9;
}

.btnwrap--center {
	text-align: center;
}

html {
	font-size: 16px;
}

body {
	font-family: "Roboto",sans-serif;
	font-size: 1rem;
	line-height: 1.4em;
	color: #0d004c;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Dinpro",sans-serif;
	line-height: 1.2;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

h1,
.h1 {
	font-size: 72px;
	text-align: center;
	line-height: 1.2;
}

h2,
.h2 {
	font-size: 40px;
}

.h2--center {
	text-align: center;
}

h3 {
	font-size: 30px;
}

h3 strong {
	display: block;
	font-size: 36px;
}

h4 {
	font-size: 18px;
	line-height: 1.5;
}

h4 strong {
	display: block;
	font-size: 24px;
}

h5 {
	font-size: 14px;
	line-height: 1.5;
}

h6 {
	font-size: 12px;
}

.h2-descr {
	padding-top: 20px;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
}

.h2-descr--gray {
	color: #7A7A7A;
}

.h2-descr--gray-light {
	color: #B3B3B3;
}

.h2-top-descr {
	margin-bottom: 0;
	color: #97B4CA;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.h2--black {
	color: #000;
}

.h3-descr {
	max-width: 1260px;
	margin: 0 auto;
	padding-top: 5px;
	line-height: 1;
	font-size: 22px;
	font-weight: 300;
}

.mini-descr {
	padding-top: 40px;
	color: #BEB3CA;
	text-transform: uppercase;
}

a {
	transition: all .3s ease;
}

p {
	margin-top: 0;
	margin-bottom: 16px;
}

p:last-child,
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.white-col {
	color: #FFF;
}

.ff-head {
	font-family: "Dinpro",sans-serif;
}

.error-text {
	font-size: 12px;
	color: #ff1b1b;
}

.white-block {
	background: #FFF;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

.user-content {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: #000;
}

.user-content h2,
.user-content h3,
.user-content h4 {
	padding-bottom: 20px;
	color: #000;
}

.user-content h4 {
	padding-bottom: 2px;
}

.user-content p {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.user-content a {
	color: inherit;
	border-bottom: 1px dotted #66ffcc;
	transition: all .3s ease;
}

.user-content a:hover {
	color: #65ffc9;
	border-bottom: 1px dotted transparent;
}

.user-content ul {
	padding-bottom: 4px;
}

.user-content ul:last-child {
	padding-bottom: 0;
}

.user-content ul li {
	position: relative;
	padding-left: 30px;
	padding-bottom: 4px;
	background: url("done.svg") no-repeat;
	background-position: 0 4px;
	background-size: 18px;
}

.user-content ol {
	list-style-type: decimal;
}

.user-content ol li {
	margin-left: 20px;
	padding-left: 10px;
	padding-bottom: 16px;
}

.user-content img {
	margin-bottom: 14px;
}

.user-content strong {
	font-weight: 700;
}

.user-content .descr {
	color: #98B4CA;
}

.user-content--white {
	color: #FFF;
}

.user-content--white h2,
.user-content--white h3,
.user-content--white h4,
.user-content--white p {
	color: #FFF;
}

.user-content--white ul li {
	background-image: url("done-white.svg");
}

.user-content--gray-list ul li {
	color: #97B4CA;
	background-image: url("done-gray.svg");
}

.user-content--columns {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.user-content--columns div {
	width: 270px;
}

form {
	position: relative;
}

input,
textarea {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	border: 3px solid transparent;
	transition: all .3s ease;
}

input:hover,
textarea:hover {
	box-shadow: 0 0 15px 0 #65ffc9;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 15px 0 #65ffc9;
	border-color: #65ffc9;
	outline: none;
}

input.error,
textarea.error {
	border-color: #ff6666;
	box-shadow: 0 0 20px 0 #ff6666;
}

.form-sec {
	padding-top: 15px;
}

.form-sec--clear {
	padding-top: 0;
}

.form-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-wrap--white {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #FFF;
}

.form-wrap--white-mini-top {
	padding-top: 25px;
	padding-bottom: 70px;
	background: #FFF;
}

.form-wrap--white-out-bottom {
	padding-bottom: 0;
}

.form-wrap--trans {
	border: 10px solid #fff;
}

.form-main__submit-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 10px;
}

.form-main__submit-wrap p {
	position: relative;
	font-size: 12px;
	line-height: 1.33333333;
}

.form-main__submit-wrap .icon-form-shield {
	position: absolute;
	top: 6px;
	left: -27px;
	font-size: 20px;
}

.form-main__radio-label {
	position: relative;
	max-width: 560px;
	width: 100%;
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 3px;
	margin-left: 17px;
	cursor: pointer;
	color: #FFF;
	font-weight: 300;
}

.form-main__radio-price {
	float: right;
	font-weight: 500;
}

.form-main__shield-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	color: #262626;
	line-height: 1.41666667;
}

.form-main__shield-text .icon-form-shield {
	top: 0;
	font-size: 19px;
}

.form-main__shield-text--big-white {
	font-size: 14px;
	color: #FFF;
}

.form-main__shield-text--big-white i {
	color: #FFF;
}

.form-main__shield-text--modal {
	margin-left: 25px;
}

.form-main--gray {
	padding-top: 25px;
	padding-bottom: 30px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 8px;
	background: #EEE;
}

.form-main--gray h4 {
	padding-bottom: 5px;
	color: #000;
}

.form-main--gray-modal h4 {
	padding-bottom: 10px;
}

.form-heading-black {
	padding-top: 25px;
}

.input-text {
	position: relative;
	width: 100%;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 45px;
	font-weight: 300;
	z-index: 0;
}

.input-text::-webkit-input-placeholder {
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	color: #000;
}

.input-text::-moz-placeholder {
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	color: #000;
}

.input-text:-ms-input-placeholder {
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	color: #000;
}

.input-text-wrap {
	position: relative;
}

.input-text-wrap i {
	position: absolute;
	left: 15px;
	top: 10px;
	z-index: 1;
	pointer-events: none;
}

.input-text-wrap .icon-form-name {
	top: 8px;
	font-size: 22px;
}

.input-text-wrap .icon-form-mail {
	top: 8px;
	font-size: 20px;
}

.input-text-wrap .icon-phone {
	font-size: 18px;
}

.input-text-wrap .icon-form-comment {
	font-size: 22px;
}

.input-text-wrap .icon-form-submarine {
	font-size: 24px;
}

.input-text-wrap--big {
	padding-bottom: 10px;
}

.input-radio {
	position: relative;
	display: none;
}

.input-radio:checked+span:after {
	background: #65ffc9;
}

.input-radio+span:after {
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	width: 16px;
	height: 16px;
	border: 1px solid #808e99;
	border-radius: 50%;
	transition: all .3s ease;
}

.input-textarea {
	width: 100%;
	height: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 45px;
	font-weight: 300;
}

.input-textarea::-webkit-input-placeholder {
	font-family: "Roboto",sans-serif;
	font-size: 16px;
	color: #000;
}

.input-textarea::-moz-placeholder {
	font-family: "Roboto",sans-serif;
	font-size: 16px;
	color: #000;
}

.input-textarea:-ms-input-placeholder {
	font-family: "Roboto",sans-serif;
	font-size: 16px;
	color: #000;
}

.header-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 30px;
	z-index: 5;
}

.header-top__burger {
	position: fixed;
	left: 15px;
	top: 29px;
}

.header-top__burger:hover a,
.header-top__burger:hover i {
	color: #65ffc9;
}

.header-top__burger i {
	padding-right: 10px;
	font-size: 20px;
	color: #fff;
	vertical-align: middle;
	transition: all .3s ease;
}

.header-top__burger a {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	color: #FFF;
}

.header-top__burger span {
	vertical-align: middle;
}

.header-top__contact {
	position: absolute;
	right: 15px;
	top: -8px;
	color: #FFF;
	white-space: nowrap;
}

.header-top__contact i {
	padding-right: 10px;
	font-size: 16px;
}

.header-top__contact a {
	color: #FFF;
	vertical-align: middle;
}

.header-top__contact-phone {
	position: relative;
	padding-left: 40px;
	font-size: 24px;
	font-weight: 500;
	vertical-align: middle;
	white-space: nowrap;
}

.header-top__contact-phone:before {
	content: "";
	position: absolute;
	left: 4px;
	top: 50%;
	width: 24px;
	height: 2px;
	background: #FFF;
}

.header-top__contact-phone a {
	color: #FFF;
}

.header-top__logo {
	margin-right: 40px;
}

.header-top__logo span {
	font-weight: 700;
}

.header-top__logowrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 910px;
	margin: 0 auto;
}

.header-top__logowrap a {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}

.header-top__logowrap:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
	width: 960px;
	height: 1px;
	background: #8096A4;
}

.header-top__logo-cours {
	display: inline-block;
	margin-right: 5px;
	background-image: url("padi-icons-row.png");
	background-repeat: no-repeat;
	transition: all .3s ease;
}

.header-top__logo-cours:hover {
	background-position-y: -14px;
}

.header-top__logo-cours--padi {
	width: 35px;
	height: 14px;
	background-position: 0 0;
}

.header-top__logo-cours--cmas {
	width: 50px;
	height: 14px;
	background-position: -39px 0;
}

.header-top__logo-cours--ndl {
	width: 35px;
	height: 14px;
	background-position: -95px 0;
}

.header-top__logo-cours--tdi {
	width: 35px;
	height: 14px;
	background-position: -135px 0;
}

.header-top__menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	background: transparent;
	z-index: -1;
	pointer-events: none;
	transition: all .3s ease;
}

.header-top__menu.active {
	opacity: 1;
	background: rgba(0,10,19,0.95);
	pointer-events: all;
	z-index: 10;
}

.header-top__menuwrap {
	width: 830px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
}

.header-top__menu-close {
	position: absolute;
	top: 0;
	right: -6px;
	padding: 6px;
	color: #FFF;
	cursor: pointer;
}

.header-top__menu-close:hover {
	color: #65ffc9;
}

.header-top__menu-one {
	width: 252px;
	margin-right: 18px;
	margin-left: 18px;
	padding-bottom: 75px;
}

.header-top__menu-one:nth-child(1) {
	margin-left: 0;
}

.header-top__menu-one:nth-child(3) {
	margin-right: 0;
}

.header-top__menu-one:nth-child(4) {
	margin-left: 0;
}

.header-top__menu-one h3 {
	height: 72px;
	text-transform: uppercase;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
}

.header-top__menu-one h3 a {
	color: #FFF;
}

.header-top__menu-one h3 a:hover {
	color: #65ffc9;
}

.header-top__menu-one ul {
	padding-top: 45px;
}

.header-top__menu-one ul li a {
	display: inline-block;
	margin-bottom: 8px;
	color: #808E99;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.28571429;
}

.header-top__menu-one ul li a:hover {
	color: #65ffc9;
}

.header-top__menu-one ul li a.active{
	color: #65ffc9;
}

.header-inner {
	position: relative;
	padding-top: 225px;
}

.header-inner__main {
	position: relative;
	padding-top: 45px;
}

.header-inner__main-h1 {
	text-align: left;

}

.header-inner__main-h1--trainer{
	width: 530px;
}

.header-inner__main-h1-descr {
	position: absolute;
	top: 25px;
	left: 5px;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
}

.header-inner__main-speaker {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
	max-width: 225px;
	margin-right: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
}

.header-inner__main-speaker img {
	border-radius: 50%;
	margin-right: 20px;
}

.header-inner__main-speaker-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header-inner__main-speaker-info {

}

.header-inner__main-speaker-info span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-inner__main-speaker-info p {
	font-size: 19px;
	font-weight: 300;
	line-height: 1.57894737;
}

.header-inner__main-speaker--guest {
	width: 268px;
}

.header-inner__main-speaker--guest:nth-child(2n) {
	margin-right: 0;
}

.header-inner__main-speaker--guest .header-inner__main-speaker-info p {
	font-size: 16px;
}

.header-inner__main-buttons {
	padding-top: 20px;
}

.header-inner__main-buttons .btn {
	margin-right: 40px;
}

.header-inner__main-buttons .btn.active {
	border: 2px solid #65ffc9;
}

.header-inner__main-socki {
	max-width: 210px;
	padding-top: 35px;
}

.header-inner--lights {
	min-height: 700px;
	padding-bottom: 10px;
	background: url("bg-big-header-lights.jpg") top center no-repeat;
}

.header-inner--learning{
	height: 900px;
	margin-bottom: -500px;
	padding-bottom: 80px;
	background: url("bg-big-header-lights.jpg") top center no-repeat;
}

.header-inner--lights-mini {
	min-height: 700px;
	padding-bottom: 10px;
	background: url("bg-big-header-lights-mini.jpg") top center no-repeat;
}

.header-inner--about-us {
	padding-bottom: 100px;
	background: url("bg-about-us.jpg") top center no-repeat;
}

.header-inner--trainer{
	padding-bottom: 45px;
	background-position: top center;
	background-repeat: no-repeat;
}

.header-inner--trainer-dima {
	padding-bottom: 45px;
	background: url("bg-trainer-dima.jpg") top center no-repeat;
}

.header-inner--trainer-andrey {
	padding-bottom: 45px;
	background: url("bg-trainer-andrey.jpg") top center no-repeat;
}

.header-inner--trainer-maxim {
	padding-bottom: 45px;
	background: url("bg-trainer-maxim.jpg") top center no-repeat;
}

.header-inner--trainer-andrey-f {
	padding-bottom: 45px;
	background: url("bg-trainer-andrey-f.jpg") top center no-repeat;
}

.header-inner--trainer-man {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-man.jpg") top center no-repeat;
}

.header-inner--faq {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-faq.jpg") top center no-repeat;
}

.header-inner--master-class {
	margin-bottom: -100px;
	padding-bottom: 200px;
	background: url("bg-big-header-master-class.jpg") bottom center no-repeat;
	background-size: cover;
}

.header-inner--event-past {
	padding-bottom: 50px;
	background: url("bg-big-header-event-past.jpg") bottom center no-repeat;
	background-size: cover;
}

.header-inner--event-future {
	padding-bottom: 50px;
	background: url("bg-big-header-event-future.jpg") bottom center no-repeat;
	background-size: cover;
}

.header-inner--tours {
	padding-bottom: 90px;
	background: url("bg-big-header-tours.jpg") top center no-repeat;
}

.header-inner--instructors-learn {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-instructors-learn.jpg") top center no-repeat;
}

.header-inner--snarajenie {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-snarajenie.jpg") top center no-repeat;
}

.header-inner--child-diving {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-child-diving-all.jpg") top center no-repeat;
}

.header-inner--child-diving-one {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-child-diving-one.jpg") bottom center no-repeat;
}

.header-inner--water-sport {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-water-sport.jpg") top center no-repeat;
}

.header-inner--courses-standart {
	min-height: 700px;
	padding-bottom: 45px;
	background: url("bg-big-header-course-stnd.jpg") top center no-repeat;
}

.header-inner--cmas-star {
	min-height: 700px;
	padding-bottom: 65px;
	background: url("bg-big-header-cmas.jpg") top center no-repeat;
}

.header-inner--padi-star {
	min-height: 700px;
	padding-bottom: 65px;
	background: url("bg-big-header-padi.jpg") top center no-repeat;
}

.breadcrumbs {
	padding-left: 5px;
}

.breadcrumbs a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	color: #808e99;
	border-bottom: 1px solid #808e99;
}

.breadcrumbs a:hover {
	color: #65ffc9;
	border-color: #65ffc9;
}

.breadcrumbs li {
	display: inline-block;
	padding-right: 6px;
}

.breadcrumbs li:last-child a {
	border-bottom: none;
	pointer-events: none;
	cursor: default;
}

.breadcrumbs li:last-child a:hover {
	color: #808e99;
}

.breadcrumbs li i {
	font-size: 8px;
	color: #808E99;
	padding-left: 8px;
}

.breadcrumbs--head {
	position: absolute;
	top: 140px;
	left: 0;
}

.more-info {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding-top: 15px;
	color: #FFF;
}

.more-info__one {
	margin-right: 55px;
	max-width: 320px;
	margin-bottom: 20px;
}

.more-info__one:last-child {
	margin-right: 0;
}

.more-info__one-title {
	margin-bottom: 0;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 2.14285714;
}

.more-info__one-descr {
	margin-bottom: 0;
	font-size: 19px;
	font-weight: 300;
	line-height: 1.57894737;
}

.more-info__one-descr--simple {
	padding-bottom: 100px;
}

.more-info__one--col-1 {
	max-width: 160px;
}

.more-info__one--col-2 {
	max-width: 320px;
}

.more-info__one--col-3 {
	max-width: 450px;
}

.more-info__one--col-4 {
	max-width: 600px;
}

.more-info__one--col-5 {
	max-width: 750px;
}

.more-info__one--col-6 {
	max-width: 900px;
}

.big-head {
	position: relative;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
}

.big-head header {
	position: relative;
	width: 100%;
	min-width: 1170px;
	padding-left: 2%;
	padding-right: 2%;
	z-index: 3;
}

.big-head__index {
	width: 780px;
	margin: 0 auto;
	padding-top: 160px;
}

.big-head__index-logowrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: -50px;
}

.big-head__index-head-descr {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
}

.big-head__index-head-sport {
	display: block;
	width: 350px;
	margin: 0 auto;
	padding-top: 60px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #97B4CA;
	text-align: center;
	line-height: 1.55555556;
}

.big-head__index-sport-links {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 680px;
	margin: 0 auto;
	padding-top: 70px;
}

.big-head__index-category {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 280px;
	margin: 0 auto;
	padding-top: 90px;
	z-index: 2;
}

.big-head__index-category-link {
	display: inline-block;
	margin-right: 5px;
	background-image: url("padi-icons-row-big.png");
	background-repeat: no-repeat;
	transition: all .3s ease;
}

.big-head__index-category-link:hover {
	background-position-y: -22px;
}

.big-head__index-category-link--padi {
	width: 50px;
	height: 18px;
	background-position: 0 0;
}

.big-head__index-category-link--cmas {
	width: 69px;
	height: 18px;
	background-position: -65px 0;
}

.big-head__index-category-link--ndl {
	width: 43px;
	height: 18px;
	background-position: -163px 0;
}

.big-head__index-category-link--tdi {
	width: 34px;
	height: 18px;
	background-position: -229px 0;
}

.big-head__index-tobottom {
	position: relative;
	padding-top: 10px;
	text-align: center;
}

.big-head__index-tobottom a {
	color: #FFF;
}

.big-head__index-tobottom a:hover {
	color: #65FFC9;
}

.big-head__index-tobottom a span {
	display: inline-block;
	padding-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
}

.big-head__index-tobottom a i {
	display: inline-block;
	font-size: 22px;
}

.big-head__index-tobottom-img {
	position: relative;
	z-index: 0;
}

.big-head__index-tobottom-link {
	position: absolute;
	top: 110px;
	left: 0;
	right: 0;
}

.big-head--lights {
	background: url("bg-big-header-lights.jpg") top center no-repeat;
	overflow: hidden;
}

.big-head--lights-fish {
	background: url("bg-big-header-lights-fish.jpg") top center no-repeat;
}

.index-child {
	height: 696px;
	padding-top: 80px;
	background: url("bg-diver-child.jpg") center bottom no-repeat,#011019;
}

.index-child .grid-text {
	height: 240px;
}

.index-child__more-info {
	position: relative;
}

.index-child__more-info-descr {
	position: absolute;
	right: 0;
	width: 230px;
	font-size: 14px;
	color: #97b4ca;
}

.otzivi {
	padding-top: 75px;
	padding-bottom: 120px;
	background: url("bg-otzivi.jpg") center center no-repeat;
}

.otzivi__block {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: -80px;
	border-right: 10px solid #fff;
	border-left: 10px solid #fff;
}

.otzivi__block .right-textbar {
	padding-top: 29px;
}

.otzivi__block .flickity-page-dots {
	left: -170px;
}

.otzivi__block .link-morewrap {
	position: absolute;
	bottom: -13px;
	left: 0;
	width: 100%;
	padding-top: 35px;
	text-align: center;
}

.otzivi__block-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 175px;
	padding-top: 25px;
	background: url("logo-otziv.png") center center no-repeat;
}

.otzivi__block-header:before,
.otzivi__block-header:after {
	content: "";
	height: 10px;
	width: 430px;
	background: #FFF;
}

.otzivi__block-text-one {
	width: 100%;
	padding-bottom: 40px;
	padding-right: 5px;
	padding-left: 3px;
}

.otzivi__block-text-one.is-selected .otzivi__block-text-one-author {
	opacity: 1;
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.otzivi__block-text-one-author {
	margin-top: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
	opacity: 0;
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	transition: all .6s ease .5s;
}

.otzivi__block-text-one-author .author-img {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

.otzivi__block-text-one-author .author-img img {
	display: block;
}

.otzivi__block-text-one-author .author-descr {
	padding-left: 15px;
}

.otzivi__block-text-one-author .author-descr span {
	display: block;
	font-weight: 300;
	color: #FFF;
}

.otzivi__block-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 10px;
}

.otzivi__block-footer:before,
.otzivi__block-footer:after {
	content: "";
	height: 10px;
	width: 430px;
	background: #FFF;
}

.nagradi {
	padding-top: 60px;
}

.nagradi__priziv {
	text-align: center;
}

.nagradi__text {
	width: 940px;
	margin: 140px auto 10px;
}

.nagradi__text-one .left-sidebar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.nagradi__text-one .right-textbar {
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 2px solid #98B4CA;
}

.nagradi__text-one:last-child .right-textbar {
	border-bottom: 2px solid #98B4CA;
}

.nagradi__text-one-img {
	position: relative;
	text-align: center;
}

.nagradi__text-one-img-descr {
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	color: #98B4CA;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.arctic-records {
	height: 1070px;
	padding-top: 180px;
	background: url("bg-arctic-records.jpg") bottom center no-repeat;
}

.arctic-records .section-title h2 {
	text-align: center;
	text-transform: uppercase;
}

.arctic-records .section-title h2 span {
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
}

.arctic-records .section-title .h2-descr {
	text-align: center;
	color: #FFF;
}

.arctic-records__main {
	padding-top: 40px;
}

.arctic-records__main h3 {
	font-size: 30px;
	text-align: center;
}

.arctic-records__main-text {
	position: absolute;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.arctic-records__main-textwrap {
	position: relative;
	color: #FFF;
}

.arctic-records__main-text--1 {
	top: 140px;
	left: 70px;
}

.arctic-records__main-text--2 {
	top: 470px;
	left: 70px;
}

.arctic-records__main-text--3 {
	top: 140px;
	right: 70px;
	text-align: right;
}

.arctic-records__main-text--4 {
	top: 470px;
	right: 70px;
	text-align: right;
}

.arctic-records__main-text--5 {
	top: 630px;
	left: 390px;
}

.arctic-records--instructors {
	height: 1003px;
	padding-top: 100px;
	background: url("bg-arctic-records.jpg") no-repeat;
	background-position: center -115px;
}

.video-slider {
	padding-top: 80px;
	padding-bottom: 60px;
	background: url("bg-video-slider.jpg") top center no-repeat;
}

.video-slider__title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.video-slider__one {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 480px;
}

.video-slider__one .icon-play {
	padding-left: 7px;
	font-size: 45px;
	color: #FFF;
	transition: all .3s ease;
}

.video-slider__one-play {
	width: 90px;
	height: 90px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #fff;
	background: transparent;
	transition: all .3s ease;
}

.video-slider__one-playwrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
}

.video-slider__one-playwrap:hover .video-slider__one-play {
	border-color: #65ffc9;
}

.video-slider__one-playwrap:hover .icon-play {
	color: #65ffc9;
}

.video-slider__one-title {
	padding-top: 30px;
	color: #66ffcc;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.video-slider__one-descr {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}

.video-slider__nav {
	padding-top: 5px;
}

.video-slider__nav-one {
	width: 100%;
	max-width: 230px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.video-slider__nav-one img {
	display: block;
	max-height: 155px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 transparent;
	transition: all .3s ease;
}

.video-slider__nav-one:hover img {
	box-shadow: 0 0 10px 0 #65ffc9;
}

.video-slider__nav-one.is-selected img {
	box-shadow: 0 0 5px 0 #65ffc9;
}

.video-slider__nav-one.is-nav-selected img {
box-shadow: 0 0 15px 0 #65ffc9;
}

.trainers-sec {
	padding-top: 60px;
	padding-bottom: 60px;
}

.trainers-sec__title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.trainers-sec__slider-wrap {
	padding-top: 65px;
}

.trainers-slider__one {
	position: relative;
	width: 280px;
	margin: 0 18px;
	color: #FFF;
}

.trainers-slider__one-photo {
	display: block;
	border-radius: 10px;
	overflow: hidden;
}

.trainers-slider__one-title {
	position: absolute;
	top: 15px;
	left: 14px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.trainers-slider__one-name {
	position: absolute;
	bottom: 55px;
	left: 14px;
	display: block;
	font-family: "Dinpro",sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.trainers-slider__one .btn {
	position: absolute;
	left: 14px;
	bottom: 8px;
}

.training-system-sec {
	padding-top: 60px;
	padding-bottom: 30px;
}

.training-system-sec--inner {
	padding-top: 15px;
}

.training-system-sec--inner-out-bottom {
	padding-bottom: 0;
}

.article-grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.article-grid__title{
	margin-bottom: 20px;
	color: #000;
}

.article-grid-wrap {
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 60px;
	padding-right: 60px;
	background: #FFF;
}

.article-grid-wrap--how{
	padding-top: 0;
}

.event-guest-list{
	padding-bottom: 65px;
}


.article-grid-wrap__title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 60px;
}

.article-grid-wrap__title h2 {
	color: #000;
}

.article-grid-wrap--inner {
	margin-top: 95px;
}

.article-grid-wrap--trans {
	background: transparent;
}

.article-grid-wrap--black h2,
.article-grid-wrap--black h3,
.article-grid-wrap--black h4,
.article-grid-wrap--black p {
	color: #000;
}

.article-grid-wrap--child-last-text {
	margin-top: 640px;
}

.article-grid-wrap--padi {
	margin-bottom: 20px;
	background: url("bg-article-grid-padi.jpg") no-repeat bottom center #FFF;
}

.article-grid__one {
	position: relative;
	color: #FFF;
	width: 280px;
	height: 280px;
	margin-right: 40px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 10px;
	overflow: hidden;
}

.article-grid__one:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.35);
	z-index: 1;
}

.article-grid__one:nth-child(3n) {
	margin-right: 0;
}

._type-mix{
	margin-left: -20px;
	margin-right: -20px;
}

._type-mix__item{
	padding: 0 20px;
}

._type-mix__item .article-grid__one{
	margin-right: 0px;
}

.article-grid__one:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background: linear-gradient(135deg, #39787d 0, #04253b 100%);
	opacity: 0;
	z-index: 1;
	transition: all .3s ease;
}

.article-grid__one:hover:after {
	opacity: 1;
}

.article-grid__one:hover .article-grid__one-hidden-descr {
	opacity: 1;
}

.article-grid__one-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 0;
}

.article-grid__one-descr {
	position: relative;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	z-index: 2;
}

.article-grid__one-descr small{
	font-size: 12px;
	color: #ff6666;
	text-transform: none;
}

.article-grid__one-title {
	position: relative;
	display: block;
	padding-top: 3px;
	color: #FFF;
	line-height: 1.38461538;
	text-transform: uppercase;
	font-size: 22px;
	font-family: "Dinpro",sans-serif;
	z-index: 2;
}

.article-grid__one-title:hover {
	color: #65ffc9;
}

.article-grid__one-hidden-descr {
	position: relative;
	margin-top: 12px;
	padding-top: 10px;
	line-height: 1.5;
	font-size: 12px;
	font-weight: 300;
	opacity: 0;
	z-index: 2;
	transition: all .3s ease;
}

.article-grid__one-hidden-descr:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 110px;
	height: 2px;
	background: #FFF;
}

.article-grid__one-price {
	position: relative;
	margin-top: 12px;
	padding-top: 10px;
	line-height: 2;
	font-size: 18px;
	font-weight: 700;
	z-index: 2;
}

.article-grid__one-price:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 110px;
	height: 2px;
	background: #FFF;
}

.article-grid__one .btn {
	position: absolute;
	left: 14px;
	bottom: 14px;
	z-index: 2;
}

.career-about-prev-sec {
	min-height: 840px;
	padding-top: 100px;
	background: url("bg-instructor-about-prev.jpg") top center no-repeat;
}

.career-about-prev__text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 160px;
}

.career-about-prev__text .user-content {
	width: 560px;
}

.events-grid-sec {
	position: relative;
	z-index: 1;
}

.events-grid-sec .big-wrapper {
	padding-top: 60px;
}

.events-grid__title-links {
	padding-top: 15px;
}

.events-grid__title-links .active {
	border: 2px solid #65ffc9;
	color: #65ffc9;
}

.footer-page-sec {
	position: relative;
	height: 1045px;
	margin-top: -400px;
	padding-top: 560px;
	background: url("bg-footer.jpg") bottom center no-repeat;
	z-index: 0;
}

.footer-page__row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-page__row--last {
	padding-top: 80px;
}

.footer-page__col {
	max-width: 250px;
	padding-right: 5px;
	color: #808E99;
}

.footer-page__col a {
	color: #808E99;
}

.footer-page__col li a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.footer-page__col li a:hover {
	color: #65ffc9;
}

.footer-page__col-title {
	position: relative;
	display: inline-block;
	padding-bottom: 23px;
	font-weight: 700;
	color: #808E99;
	font-size: 16px;
	text-transform: uppercase;
}

.footer-page__col-title i {
	position: absolute;
	top: 3px;
	left: -20px;
}

.footer-page__col-geo {
	position: relative;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 2.14285714;
}

.footer-page__col-geo i {
	position: absolute;
	top: 4px;
	left: -22px;
	font-size: 18px;
}

.footer-page__col-mess {
	padding-top: 5px;
}

.footer-page__col-mess-table {
	font-size: 14px;
	line-height: 2.14285714;
}

.footer-page__col-mess-table tr td:first-child {
	padding-right: 20px;
}

.footer-page__col-copy {
	font-size: 12px;
	margin-bottom: 0;
}

.footer-page__col-copy a {
	border-bottom: 1px dotted #808E99;
}

.footer-page__col-copy a:hover {
	color: #65ffc9;
	border-color: #65ffc9;
}

.about-us-square {
	padding: 75px 70px;
	border: 10px solid #fff;
	background: url("bg-about-us-square-logo.jpg") center center no-repeat;
}

.about-us-square h2 {
	text-align: center;
}

.about-us-square__block {
	width: 390px;
	padding-bottom: 20px;
}

.about-us-square__block .user-content {
	padding-top: 15px;
}

.about-us-square__blockwrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 40px;
}

.about-us-text-sec {
	padding-top: 70px;
}

.about-us-facts-sec {
	padding-top: 80px;
}

.about-us-facts h2 {
	text-align: center;
}

.about-us-facts__row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 25px;
}

.about-us-select-sec {
	padding-top: 100px;
}

.about-us-medals {
	width: 210px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 70px;
}

.about-us-medals__one {
	width: 100%;
	text-align: center;
}

.about-us-medals__one p {
	font-size: 14px;
	font-style: italic;
	color: #011019;
	line-height: 1.5;
}

.about-us-smi-sec {
	padding-top: 30px;
}

.about-us-smi__text {
	padding-top: 5px;
}

.about-us-smi__text a {
	display: inline-block;
	font-weight: 400;
	margin-bottom: 20px;
}

.about-us-smi__text a:hover p {
	color: #65ffc9;
}

.about-us-smi__text a p {
	margin-bottom: 0;
	font-size: 14px;
	color: #FFF;
	line-height: 1.5;
	transition: all .3s ease;
}

.about-us-smi__text a span {
	font-size: 14px;
	font-style: italic;
	color: #808E99;
}

.trainers-text-sec {
	padding-top: 180px;
	padding-bottom: 80px;
}

.trainers-grid__title {
	padding-top: 50px;
	padding-bottom: 25px;
	text-align: center;
}

.trainers-grid__big-photo-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.trainers-grid__one-big {
	position: relative;
	width: 415px;
	margin-bottom: 60px;
	color: #FFF;
}

.trainers-grid__one-big:nth-child(2n) {
	margin-left: 80px;
}

.trainers-grid__one-big .btn {
	position: absolute;
	left: 14px;
	bottom: 8px;
}

.trainers-grid__mini-photo-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.trainers-grid__one-mini {
	position: relative;
	width: 280px;
	color: #FFF;
	margin-right: 17px;
	margin-left: 17px;
	margin-bottom: 40px;
}

.trainers-grid__one-mini:first-child {
	margin-left: 0;
}

.trainers-grid__one-mini:nth-child(3n) {
	margin-right: 0;
}

.trainers-grid__one-mini:nth-child(3n+1) {
	margin-left: 0;
}

.trainers-grid__one-mini .btn {
	position: absolute;
	left: 14px;
	bottom: 8px;
}

#googlemap {
	width: 920px;
	height: 420px;
	margin-top: 20px;
}

.faq-text__grid {
	margin-bottom: 55px;
}

.faq-text__grid:last-child {
	margin-bottom: 0;
}

.faq-question-wrap {
	margin-bottom: 3px;
	font-size: 16px;
}

.faq-question {
	padding-bottom: 2px;
	color: #000;
	border-bottom: 1px dotted #000 !important;
}

.faq-question:hover {
	color: initial !important;
	border-color: #65ffc9 !important;
}

.faq-answer {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 20px;
	border-radius: 8px;
	background: #EEE;
}

.otzivi-list__title {
	margin-bottom: 90px;
}

.otzivi-list__text-wrap {
	-moz-column-width: 280px;
	column-width: 280px;
	-moz-column-gap: 35px;
	column-gap: 35px;
}

.otzivi-list__text-one {
	display: inline-block;
	width: 280px;
	margin-bottom: 30px;
	padding: 15px 20px 25px;
	line-height: 1.28571429;
	border-radius: 8px;
	background: #eee;
	column-break-inside: avoid;
}

.otzivi-list__text-one .user-content,
.otzivi-list__text-one .user-content p {
	font-size: 14px;
}

.otzivi-list__text-one-author {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding-top: 45px;
}

.otzivi-list__text-one-author:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 45px;
	height: 2px;
	background: #000;
}

.otzivi-list__text-one-author img {
	border-radius: 50%;
	width: 62px;
	height: auto;
}

.otzivi-list__text-one-author span {
	margin-left: 20px;
	color: #000;
	font-size: 16px;
	font-weight: 700;
}

.otzivi-list__video-one {
	display: inline-block;
	width: 280px;
	margin-right: 35px;
	margin-bottom: 30px;
}

.otzivi-list__video-one iframe{
	width: 280px;
	height: 158px;
}

.otzivi-list__video-one:nth-child(3n) {
	margin-right: 0;
}

.big-slider-sec {
	padding-bottom: 90px;
}

.big-slider-sec--big-top {
	padding-top: 90px;
}

.big-slider__one {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	width: 860px;
	height: 700px;
	opacity: .4;
	transition: transform .3s ease;
}


.big-slider__one.is-selected {
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
	z-index: 1;
}

.big-slider__one.is-selected img {
	box-shadow: 0 0 29px 1px #020e15;
}

.big-slider__select {
	position: absolute;
	top: -340px;
	left: 0;
	width: 100%;
}

.big-slider__select-prev {
	position: absolute;
	top: 50%;
	left: -30px;
	width: 50px;
	height: 60px;
	border: none;
	cursor: pointer;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.big-slider__select-prev svg {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.big-slider__select-prev .arrow {
	fill: #66ffcc;
}

.big-slider__select-next {
	position: absolute;
	top: 50%;
	right: -30px;
	width: 50px;
	height: 60px;
	border: none;
	cursor: pointer;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.big-slider__select-next svg {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.big-slider__select-next .arrow {
	fill: #66ffcc;
}

@media screen and (max-width: 1400px) {
	.big-slider__one{
		width: 660px;
		height: 550px;
	}
	.big-slider__select{
		top: -275px;
	}
	.big-slider__select-next{
		right: 100px;
	}
	.big-slider__select-prev{
		left: 100px;
	}
}


.big-slider__nav {
	margin-top: 20px;
}

.big-slider__nav-one {
	width: 95px;
	height: 95px;
	margin-right: 15px;
	opacity: .4;
	transition: all .3s ease;
}

.big-slider__nav-one:hover {
	opacity: .7;
}

.big-slider__nav-one.is-selected {
	opacity: 1;
}

.big-slider--child-diving {
	padding-top: 45px;
}

.event-guest-list-sec {
	padding-top: 15px;
}

.instructors-learn-info-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 20px;
}

.instructors-learn-info__one {
	width: 250px;
	margin-right: 60px;
	margin-bottom: 45px;
}

.instructors-learn-info__one:nth-child(3n) {
	margin-right: 0;
}

.instructors-learn-info__one:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.instructors-learn-info__one i {
	color: #000;
	font-size: 48px;
	line-height: 48px;
}

.instructors-learn-info__one-text {
	padding-top: 5px;
	color: #000;
}

.instructors-learn-info__one-text h4 {
	padding-bottom: 10px;
	color: #000;
}

.instructors-learn-info__one-text p {
	font-size: 14px;
}

.instructors-learn-cours-sec {
	padding-top: 110px;
	padding-bottom: 110px;
	background: url("bg-lights-course.jpg") no-repeat center center;
}

.instructors-learn-cours__title {
	text-align: center;
}

.instructors-learn-cours__main {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-top: 70px;
	color: #FFF;
}

.instructors-learn-cours__main-one {
	width: 280px;
}

.instructors-learn-cours__main-one p {
	font-size: 15px;
}

.instructors-learn-cours__main-one h3 {
	padding-bottom: 5px;
}

.instructors-learn-cours__main-one h5 {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.instructors-learn-cours__main-one h5:after {
	content: "";
	position: relative;
	width: 100%;
	height: 3px;
	margin-left: 8px;
	background: #FFF;
}

.instructors-learn-cours__main-one h5 span {
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.instructors-learn-cours__main-price p {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
}

.instructors-learn-cours__main-btnwrap {
	padding-top: 45px;
	text-align: center;
}

.first-deep-info-sec {
	padding-top: 55px;
}

.first-deep-info__cart {
	height: 740px;
	background: url("bg-first-deep-cart.jpg") no-repeat center center;
}

.first-deep-info__sertifikat-wrap {
	padding-top: 60px;
}

.first-deep-info__sertifikat-one {
	padding-top: 80px;
}

.first-deep-info__sertifikat-img {
	padding-top: 35px;
	padding-left: 25px;
}

.first-deep-info__vodolazi {
	height: 640px;
	background: url("bg-first-deep-vodolazi.jpg") no-repeat center center;
}

.snarajenie-items {
	padding-bottom: 735px;
	background: url("bg-snarajenie-items.jpg") no-repeat bottom center;
}

.snarajenie-logos {
	text-align: center;
}

.snarajenie-logos-sec {
	padding-top: 100px;
	padding-bottom: 50px;
}

.snarajenie-logos-wrap {
	color: #FFF;
}

.snarajenie-logos-wrap h3 {
	padding-bottom: 75px;
}

.snarajenie-price-sec {
	padding-top: 80px;
}

.snarajenie-price__table {
	width: 100%;
}

.snarajenie-price__table th {
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.snarajenie-price__table th:first-child {
	text-align: left;
}

.snarajenie-price__table td {
	padding-bottom: 5px;
}

.snarajenie-price__table td:first-child {
	width: 480px;
	padding-right: 50px;
}

.snarajenie-price__table td:last-child {
	font-weight: 500;
	text-align: center;
}

.child-diving-info-sec {
	padding-bottom: 20px;
	background: url("bg-child-diving-info.jpg") center center no-repeat;
}

.child-diving-info__text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 70px;
}

.child-diving-info__text-one {
	width: 250px;
	color: #000;
}

.child-diving-info__text-one h5 {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 16px;
	color: #000;
}

.child-diving-info__text-one p {
	font-size: 14px;
	line-height: 1.5;
}

.child-diving-info__text-one i {
	font-size: 36px;
	line-height: 36px;
}

.child-diving-info-buble__future {
	text-align: center;
}

.child-diving-info-buble__future--buble {
	padding-top: 70px;
	padding-bottom: 580px;
	background: url("bg-child-diving-future-bubble.jpg") top center no-repeat;
}

.child-diving-info-buble__future--little {
	padding-top: 70px;
	padding-bottom: 580px;
	background: url("bg-child-diving-future-little.jpg") top center no-repeat;
}

.child-diving-info-buble__future--padi {
	padding-top: 70px;
	padding-bottom: 580px;
	background: url("bg-child-diving-future-padi.jpg") top center no-repeat;
}

.child-diving-info-buble__future--padi-seal {
	padding-top: 0;
	padding-bottom: 775px;
	background: url("bg-child-diving-future-padi-seal.jpg") top center no-repeat;
}

.child-diving-more-sec {
	padding-top: 70px;
}

.courses-list-sec {
	padding-top: 50px;
	padding-bottom: 50px;
}

.courses-list-sec--sport {
	padding-top: 100px;
}

.courses-list__one {
	padding-top: 50px;
	padding-bottom: 15px;
}

.courses-list__anons p {
	color: #97B4CA;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14285714;
	text-transform: uppercase;
}

.courses-list__anons h3 {
	padding-bottom: 20px;
}

.courses-list__anons h3 a{
	color: #FFF;
}

.courses-list__anons h3 a:hover{
	color: #65ffc9;
}

.courses-list__anons-img {
	width: 100%;
}

.courses-list__columns {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding-bottom: 40px;
	color: #FFF;
}

.courses-list__columns-one {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 200px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.courses-list__columns-one span:first-child {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding-right: 10px;
	line-height: 34px;
	font-size: 34px;
	font-weight: bold;
	font-family: "Dinpro",sans-serif;
}

.courses-list__columns-one p {
	padding-top: 2px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5;
}

.courses-list__columns-one--black p {
	color: #000;
}

.courses-list__columns-one--black span:first-child {
	color: #000;
}

.courses-list__columns--padi {
	padding-bottom: 20px;
	padding-top: 20px;
}

.courses-list__text {
	margin-top: 16px;
	padding-top: 30px;
	border-top: 3px solid #97b4ca;
}

.courses-list__text-prev {
	padding-top: 30px;
}

.courses-list__buttons {
	padding-top: 40px;
}

.courses-list__buttons .btn {
	margin-right: 20px;
}

.courses-list__buttons--prev {
	padding-top: 16px;
}

.courses-list__price {
	position: relative;
	margin-top: 20px;
	padding-top: 10px;
	line-height: 2;
	font-size: 18px;
	font-weight: 700;
	color: #FFF;
	z-index: 2;
}

.courses-list__price:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 2px;
	background: #FFF;
}

.standart-courses-info__title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}

.standart-courses-info__title h2 {
	color: #000;
}

.standart-courses-info__second {
	margin-top: 10px;
}

.standart-courses-info__dop-info-img {
	text-align: center;
}

.standart-courses-info__dop-info-img-text {
	position: absolute;
	width: 260px;
	text-align: left;
	color: #FFF;
}

.standart-courses-info__dop-info-img-text h4 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 5px;
}

.standart-courses-info__dop-info-img-text h4 i {
	font-size: 20px;
	padding-left: 14px;
}

.standart-courses-info__dop-info-img-text-1 {
	left: 0;
	top: 70px;
}

.standart-courses-info__dop-info-img-text-2 {
	right: 0;
	top: 375px;
}

.standart-courses-info__dop-info-img--1-star {
	padding-top: 70px;
	padding-bottom: 700px;
	background: url("bg-cmas-1-star-illustration.jpg") top center no-repeat;
}

.standart-courses-info__dop-info-img--3-star {
	padding-top: 70px;
	padding-bottom: 700px;
	background: url("bg-cmas-3-star-illustration.jpg") top center no-repeat;
}

.standart-courses-info__middle {
	position: relative;
	color: #000;
	background: url("cmas-logo.jpg") no-repeat center center;
}

.standart-courses-info__middle-img-cmas {
	padding-top: 120px;
	padding-left: 365px;
	padding-bottom: 140px;
}

.standart-courses-info__middle-img-padi {
	margin-top: 50px;
	margin-left: 310px;
	margin-bottom: 40px;
	max-width: 260px;
}

.standart-courses-info__middle-img-padi-2 {
	padding-top: 70px;
	padding-left: 310px;
	padding-bottom: 90px;
}

.standart-courses-info__middle-procent {
	position: absolute;
	left: 80px;
	top: 180px;
	font-size: 100px;
	font-family: "Dinpro",sans-serif;
}

.standart-courses-info__middle-procent span {
	font-size: 48px;
}

.standart-courses-info__middle-procent--padi {
	left: 40px;
}

.standart-courses-info__middle-descr {
	position: absolute;
	top: 150px;
	right: 45px;
	width: 250px;
}

.standart-courses-info__middle-descr--padi {
	right: 90px;
}

.standart-courses-info__middle-descr--padi-2 {
	right: 70px;
}

.standart-courses-info__middle--padi {
	margin-bottom: 40px;
	background: url("padi-logo.jpg") no-repeat center center;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5) {

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
	background-image: url("fancybox_sprite@2x.png.html");
	background-size: 44px 152px;
}

#fancybox-loading div {
	background-image: url("fancybox_loading@2x.gif.html");
	background-size: 24px 24px;
}

}

@media screen and (max-width: 1368px) {

h1,
.h1 {
	font-size: 68px;
}

h2,
.h2 {
	font-size: 38px;
}

.header-top__menu-one {
	padding-bottom: 0;
}

}

@media screen and (max-width: 1280px) {

.header-top__burger span {
	display: none;
}

}

@media screen and (max-width: 1024px) {

.h3-descr {
	font-size: 20px;
}

.big-head header {
	min-width: 1140px;
}

}

@media (max-width:600px) {

.agmodal {
	width: 100%;
	max-width: 100%;
}

}

@media screen and (max-width: 580px) {

.h3-descr {
	padding-top: 5px;
	font-size: 18px;
}

}

@keyframes anim-top-down {

0% {
	transform: translateY(0);
}

50% {
	transform: translateY(20%);
}

100% {
	transform: translateY(0);
}

}

/*mixitup*/
.mix{
	display: none;
}

.type-filter{
	margin-bottom: 40px;
}
/*mixitup*/
